<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
    <style>
      .error-message {
        display: block;
        color: rgb(212, 33, 33);
      }
    </style>
  </head>
  <body>
    {% include "./partials/header.njk" %} 

    {% block content %} 
    
    {% endblock %}

    <script>
      $(document).ready(function () {
        $("input, select").on("input", function () {
          clearErrors($(this));
        });
      });

      function clearError(input) {
        input.removeClass("error");
        const errorMsgElement = input.next(".error-message");
        if (errorMsgElement.length) {
          errorMsgElement.remove();
        }
      }

      function clearErrors() {
        $("input, select").each(function () {
          $(this).removeClass("error");
          $(this).next(".error-message").remove();
        });
      }

      function displayErrors(errors) {
        $.each(errors, function (field, error) {
          // console.log(field, error);
          const errorInputElement = $(`[name="${field}"]`);
          if (errorInputElement.length) {
            errorInputElement.addClass("error");

            // Remove existing error message if present
            const existingError = errorInputElement.next(".error-message");
            if (existingError.length) {
              existingError.remove();
            }

            // Create and append new error message
            $("<span>", {
              class: "error-message",
              css: { color: "#cd5c5c" },
              text: error.msg,
            }).insertAfter(errorInputElement);
          }
        });
      }

      function submitForm(formId) {
        clearErrors();
        const form = $("#" + formId);
        const formData = new FormData(form[0]);

        $.ajax({
          url: form.attr("action"),
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            console.log("Success:", response);
            // Handle successful response
            $.alert({
              title: "Success!",
              content: response.message,
              type: "green",
              typeAnimated: true,
              boxWidth: "30%",
              useBootstrap: false,
              onClose: function () {
                if (response.redirectUrl) {
                  window.location.href = response.redirectUrl;
                } else {
                  window.location.reload();
                }
              },
            });
          },
          error: function (xhr, status, error) {
            // console.error("Error:", error);
            // Handle error response
            const errors = xhr.responseJSON?.errors || {};
            displayErrors(errors);
          },
        });
      }

      function updateForm(event) {
        const input = $(event.target);
        const nextSibling = input.next(".error-message");
        if (nextSibling.length) {
          nextSibling.remove();
        }
      }

      function deleteFunction(userId) {
        $.confirm({
          title: "Confirm!",
          content: "Are you sure you want to delete this user?",
          type: "orange",
          typeAnimated: true,
          boxWidth: "30%",
          useBootstrap: false,
          buttons: {
            confirm: {
              text: "Confirm",
              action: async function () {
                try {
                  let response = await $.ajax({ url: `/users/${userId}`, type: "DELETE" });
                  if (response.errors) {
                    $.alert(response.errors[0], "Error!");
                  } else {
                    $.alert({
                      title: "Success!",
                      content: response.message,
                      type: "green",
                      typeAnimated: true,
                      boxWidth: "30%",
                      useBootstrap: false,
                      onClose: function () {
                        window.location.reload();
                      },
                    });
                  }
                } catch (error) {
                  console.error("Error deleting user:", error);
                }
              },
            },
            cancel: function () {
              // Cancel action
            },
          },
        });
      }

      function logout() {
        $.ajax({
          url: "/",
          type: "DELETE",
          success: function (response) {
            if (response.message) {
              $.alert({
                title: "Success!",
                content: response.message,
                type: "green",
                typeAnimated: true,
                boxWidth: "30%",
                useBootstrap: false,
                onClose: function () {
                  window.location.href = "/";
                },
              });
              setTimeout(function () {
                window.location.href = "/";
              }, 5000);
            }
          },
          error: function (xhr, status, error) {
            console.error("Error logging out:", error);
          },
        });
      }
    </script>
  </body>
</html>
