{% extends "./layout.njk" %} {% block content %}
<div class="manageUser-container">
  <div id="title">
    <h2>Manage Users</h2>
  </div>

  <div class="new-message-container create-new">
    <a href="#">+</a>
  </div>

  <div id="users-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody id="users-table">
        {% if users.length > 0 %} {% for user in users %}
        <tr>
          <td class="name">
            <img src="./uploads/avatars/{{ user.avatar }}" />
            <span>{{ user.name }}</span>
          </td>
          <td>{{ user.email }}</td>
          <td class="manage">
            <img src="./images/trash.png" alt="Delete" class="delete-user" data-id="{{ user._id }}" />
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3">No users found. {{ errors | dump }}</td>
        </tr>
        {% endfor %} {% else %} {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal-wrapper" id="add-user-modal" {% if errors.length>
  0 %} style="display: block;" {% endif %}>
  <div class="modal">
    <a href="#" class="modal-close">+</a>
    <div class="modal-title">
      <h2>Create New User</h2>
    </div>
    <div class="modal-body">
      <form id="add-user-form" action="/users" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Enter name" name="name" value="{{ formData.name }}" />
        <p></p>
        <input type="text" placeholder="Enter email" name="email" value="{{ formData.email }}" />
        <p></p>

        <input type="text" placeholder="Enter mobile" name="mobile" value="{{ formData.mobile }}" />
        <p></p>

        <input type="password" placeholder="Enter password" name="password" />
        <p></p>

        <input type="password" placeholder="Confirm password" name="confirmPassword" />
        <p></p>

        <input type="file" name="avatar" />
        <p></p>

        <input type="button" value="Submit" id="submit-btn" />
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Show modal when "create new" button is clicked
    $(".create-new a").on("click", function () {
      $("#add-user-modal").show();
    });

    // Hide modal when close button is clicked
    $(".modal-close").on("click", function (e) {
      e.preventDefault();
      $("#add-user-modal").hide();
    });

    $("#submit-btn").on("click", function (event) {
      event.preventDefault();
      submitForm("add-user-form");
    });

    // Delete user functionality
    $("#users-table").on("click", ".delete-user", function () {
      const userId = $(this).data("id");
      deleteUser(userId);
    });
  });
</script>

{% endblock %}
